<section>
  <ion-title>Indirizzo Root Channel</ion-title>
  <ion-item color="primary">
    <ion-input inputmode="text" mode="md" placeholder="channel:announce" [(ngModel)]="inputValue"></ion-input>
  </ion-item>
  <div class="error" *ngIf="showError">
    <ion-text class="ion-padding-start">Indirizzo non valido</ion-text>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button shape="round" expand="full" color="success" (click)="confirmValue()">Ok</ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" expand="full" color="danger" (click)="dismissPopover()">Annulla</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>
