<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-title class="ion-margin-start">Categorie</ion-title>
  <ion-slides [options]="categoryOpts">
    <ion-slide *ngFor="let c of categoryInfo">
      <ion-card button="true" [routerLink]="c.link">
        <ion-card-content>
          <img [src]="c.imgSrc" alt="img">
          <ion-card-title>{{c.title}}</ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-title class="ion-margin-start">Ultimi aggiornamenti</ion-title>
  <ion-list lines="full" *ngIf="!isLoading() else skeleton">
    <ion-item *ngFor="let f of feed" button="true">
      <img [src]="getFeedImg(f)" alt="">
      <ion-label>{{f.actorId}}</ion-label>
      <ion-text>{{f.hourDate}}</ion-text>
    </ion-item>
  </ion-list>

  <ng-template id="skeleton" #skeleton>
    <ion-list>
      <ion-item *ngFor="let item of [1,1,1,1,1]">
        <ion-grid>
          <ion-row>
            <ion-col size="2"><div class="square"></div></ion-col>
            <ion-col size="5"><ion-skeleton-text animated style="width: 85%"></ion-skeleton-text></ion-col>
            <ion-col size="5"><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ng-template>

</ion-content>
