ion-content{
  ion-title{
    margin-top: 40px;
    color: rgba(255,255,255,.5);
    font-size: .9em;
    font-weight: lighter;
    padding: 0;
  }

  ion-card-content{
    img{
      width: 130px;
    }
    ion-card-title{
      font-size: 1.3em;
      font-weight: normal;
    }
  }

  ion-list{
    height: 45vh;
    margin-top: 10px;
    padding: 0 10px;
    overflow-y: auto;
    background: rgba(0,0,0,.0);

    ion-item{
      --border-color: rgba(255,255,255, .5);

      img{
        width: 30px;
        filter: grayscale(100%);
        opacity: .5;
      }

      ion-label{
        margin: 0 50px;
      }

      ion-text{
        color: rgba(255,255,255, .5);
      }
    }
  }
}

ion-col{
  display: flex;
  align-items: center;

  div.square{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.1);
  }
}

