
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat.define-palette(mat.$indigo-palette);
$app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-theme);

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #071e3d;
  --ion-color-primary-rgb: 7,30,61;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #061a36;
  --ion-color-primary-tint: #203550;

  --ion-color-secondary: #1099f9;
  --ion-color-secondary-rgb: 16,153,249;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #0e87db;
  --ion-color-secondary-tint: #28a3fa;

  --ion-color-tertiary: #043764;
  --ion-color-tertiary-rgb: 4,55,100;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #043058;
  --ion-color-tertiary-tint: #1d4b74;

  --ion-color-success: #20bca4;
  --ion-color-success-rgb: 32,188,164;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #1ca590;
  --ion-color-success-tint: #36c3ad;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #f66342;
  --ion-color-danger-rgb: 246,99,66;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #d8573a;
  --ion-color-danger-tint: #f77355;

  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 0,0,0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #000000;
  --ion-color-dark-tint: #1a1a1a;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body {
  --ion-background-color: #071e3d;
  --ion-background-color-rgb: 7,30,61;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #132947;
  --ion-color-step-100: #203550;
  --ion-color-step-150: #2c405a;
  --ion-color-step-200: #394b64;
  --ion-color-step-250: #45566e;
  --ion-color-step-300: #516277;
  --ion-color-step-350: #5e6d81;
  --ion-color-step-400: #6a788b;
  --ion-color-step-450: #778394;
  --ion-color-step-500: #838f9e;
  --ion-color-step-550: #8f9aa8;
  --ion-color-step-600: #9ca5b1;
  --ion-color-step-650: #a8b0bb;
  --ion-color-step-700: #b5bcc5;
  --ion-color-step-750: #c1c7cf;
  --ion-color-step-800: #cdd2d8;
  --ion-color-step-850: #dadde2;
  --ion-color-step-900: #e6e9ec;
  --ion-color-step-950: #f3f4f5;

  --ion-item-background: #023469;

  --ion-card-background: #023469;
}

.ios ion-modal {
  --ion-background-color: var(--ion-color-step-100);
  --ion-toolbar-background: var(--ion-color-step-150);
  --ion-toolbar-border-color: var(--ion-color-step-250);
}


/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body {
  --ion-background-color: #071e3d;
  --ion-background-color-rgb: 7,30,61;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-border-color: #222222;

  --ion-color-step-50: #132947;
  --ion-color-step-100: #203550;
  --ion-color-step-150: #2c405a;
  --ion-color-step-200: #394b64;
  --ion-color-step-250: #45566e;
  --ion-color-step-300: #516277;
  --ion-color-step-350: #5e6d81;
  --ion-color-step-400: #6a788b;
  --ion-color-step-450: #778394;
  --ion-color-step-500: #838f9e;
  --ion-color-step-550: #8f9aa8;
  --ion-color-step-600: #9ca5b1;
  --ion-color-step-650: #a8b0bb;
  --ion-color-step-700: #b5bcc5;
  --ion-color-step-750: #c1c7cf;
  --ion-color-step-800: #cdd2d8;
  --ion-color-step-850: #dadde2;
  --ion-color-step-900: #e6e9ec;
  --ion-color-step-950: #f3f4f5;

  --ion-item-background: #023469;

  --ion-toolbar-background: #071e3d;

  --ion-tab-bar-background: #ffffff;

  --ion-card-background: #023469;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #071e3d;
    --ion-color-primary-rgb: 7,30,61;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #061a36;
    --ion-color-primary-tint: #203550;

    --ion-color-secondary: #1099f9;
    --ion-color-secondary-rgb: 16,153,249;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #0e87db;
    --ion-color-secondary-tint: #28a3fa;

    --ion-color-tertiary: #043764;
    --ion-color-tertiary-rgb: 4,55,100;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #043058;
    --ion-color-tertiary-tint: #1d4b74;

    --ion-color-success: #20bca4;
    --ion-color-success-rgb: 32,188,164;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #1ca590;
    --ion-color-success-tint: #36c3ad;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255,196,9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #f66342;
    --ion-color-danger-rgb: 246,99,66;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0,0,0;
    --ion-color-danger-shade: #d8573a;
    --ion-color-danger-tint: #f77355;

    --ion-color-dark: #000000;
    --ion-color-dark-rgb: 0,0,0;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #000000;
    --ion-color-dark-tint: #1a1a1a;

    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146,148,156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;

    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,245,248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #071e3d;
    --ion-background-color-rgb: 7,30,61;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #132947;
    --ion-color-step-100: #203550;
    --ion-color-step-150: #2c405a;
    --ion-color-step-200: #394b64;
    --ion-color-step-250: #45566e;
    --ion-color-step-300: #516277;
    --ion-color-step-350: #5e6d81;
    --ion-color-step-400: #6a788b;
    --ion-color-step-450: #778394;
    --ion-color-step-500: #838f9e;
    --ion-color-step-550: #8f9aa8;
    --ion-color-step-600: #9ca5b1;
    --ion-color-step-650: #a8b0bb;
    --ion-color-step-700: #b5bcc5;
    --ion-color-step-750: #c1c7cf;
    --ion-color-step-800: #cdd2d8;
    --ion-color-step-850: #dadde2;
    --ion-color-step-900: #e6e9ec;
    --ion-color-step-950: #f3f4f5;

    --ion-item-background: #023469;

    --ion-card-background: #023469;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #071e3d;
    --ion-background-color-rgb: 7,30,61;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #132947;
    --ion-color-step-100: #203550;
    --ion-color-step-150: #2c405a;
    --ion-color-step-200: #394b64;
    --ion-color-step-250: #45566e;
    --ion-color-step-300: #516277;
    --ion-color-step-350: #5e6d81;
    --ion-color-step-400: #6a788b;
    --ion-color-step-450: #778394;
    --ion-color-step-500: #838f9e;
    --ion-color-step-550: #8f9aa8;
    --ion-color-step-600: #9ca5b1;
    --ion-color-step-650: #a8b0bb;
    --ion-color-step-700: #b5bcc5;
    --ion-color-step-750: #c1c7cf;
    --ion-color-step-800: #cdd2d8;
    --ion-color-step-850: #dadde2;
    --ion-color-step-900: #e6e9ec;
    --ion-color-step-950: #f3f4f5;

    --ion-item-background: #023469;

    --ion-toolbar-background: #071e3d;

    --ion-tab-bar-background: #ffffff;

    --ion-card-background: #023469;
  }
}
