<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pesate</ion-title>
  </ion-toolbar>

  <ion-segment color="success" mode="md" [(ngModel)]="segment" (ionChange)="segmentChanged()">
    <ion-segment-button value="0" layout="icon-start">
      <ion-label>Canali</ion-label>
      <ion-icon name="link"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="1" layout="icon-start">
      <ion-label>Impianto</ion-label>
      <ion-icon name="business"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="loadContent($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      refreshingSpinner="dots"
      pullingText="Aggiorna lista ...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-slides #slides pager="false" [options]="sliderOptions" (ionSlideDidChange)="slideChanged()" (ionSlidesDidLoad)="slideChanged()">
    <ion-slide>
      <ion-list *ngIf="!channelList.isEmpty">
        <ion-searchbar animated color="tertiary" (ionChange)="filterChannels($event)"></ion-searchbar>
        <ion-item lines="full">
          <ion-list-header *ngFor="let c of channelList.sortingColumn; index as i">
            <ion-button (click)="toggleSort(i)">
              {{c.title}}
              <ion-icon [name]="sortModeToIcon(c.mode)"></ion-icon>
            </ion-button>
          </ion-list-header>
        </ion-item>
        <ion-item lines="full" button="true" *ngFor="let t of channelList.channels">
          <ion-label>{{t.id}}</ion-label>
          <ion-label class="timestamp">{{channelManager.timestampToHoursDate(t.lastUpdate)}}</ion-label>
        </ion-item>
      </ion-list>

      <ion-title *ngIf="channelList.isEmpty">Nessun canale presente</ion-title>
    </ion-slide>
    <ion-slide>
      <img src="assets/categories/map2.png" alt="">
    </ion-slide>
  </ion-slides>

</ion-content>
