<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{actorId.toUpperCase()}} - Channel {{date}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-spinner *ngIf="spinnerVisible"></app-spinner>
  <div *ngIf="!spinnerVisible">
    <ion-refresher slot="fixed" (ionRefresh)="loadContent($event)">
      <ion-refresher-content
        pullingIcon="arrow-down"
        refreshingSpinner="dots"
        pullingText="Aggiorna lista ...">
      </ion-refresher-content>
    </ion-refresher>

    <app-no-content message="Nessun messaggio presente" *ngIf="packets.length === 0"></app-no-content>
    <mat-accordion *ngIf="packets.length !== 0">
      <mat-expansion-panel *ngFor="let p of packets; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title class="my-font-bold">
            <ion-icon name="mail-outline" size="small"></ion-icon>
            <ion-label>Messaggio {{i+1}}</ion-label>
          </mat-panel-title>
          <mat-panel-description>
            {{timestampToHoursDate(p.timestamp)}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <pre>{{toJson(p.pPayload)}}</pre>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ion-content>
