<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Canali Giornalieri - {{id.toUpperCase()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="loadContent($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      refreshingSpinner="dots"
      pullingText="Aggiorna lista ...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!channelList.isEmpty">
    <ion-searchbar animated color="tertiary" (ionChange)="filterChannels($event)"></ion-searchbar>
    <ion-item lines="full">
      <ion-list-header *ngFor="let c of channelList.sortingColumn; index as i">
        <ion-button (click)="toggleSort(i)">
          {{c.title}}
          <ion-icon [name]="sortModeToIcon(c.mode)"></ion-icon>
        </ion-button>
      </ion-list-header>
    </ion-item>
    <ion-item lines="full" button="true" *ngFor="let t of channelList.channels" [routerLink]="toMessagePage(t.col1)">
      <ion-label>{{t.col1}}</ion-label>
      <ion-label class="timestamp">{{t.col2}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
